* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: white;
  height: 100vh;
  width: 550px;
  font-family: 'Poppins', sans-serif;
}

.nav{
  background-color: white;
  height: 70px;
  display: flex;
  padding: 0 30px;
  align-items: center;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

main{
  display: flex;
  flex-direction: column;
  padding: 0 35px;
}

.img-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 35px 0;
}

.text-heading h1{
 font-size: 36px;
 font-weight: 600;
 line-height: 110%;
}

.text-heading p{
  font-size: 16px;
  font-weight: 300;
  line-height: 110%;
 }

 .card-grid{
   margin: 50px 0;
   display: flex;
   column-gap: 30px;
 }

 .card{
  height: 320px;
  width: 176px;
  display: flex;
  flex-direction: column;
 }

 .card-img{
  height: 235px;
  position: relative;
 }

 .card img{
  height: 235px;
  border: none;
  border-radius: 10px;
 }

 .card-img p{
  background-color: white;
  font-size: 10px;
  position: absolute;
  top: -5px;
  left: 5px;
  padding: 3px 5px;
  border-radius: 3px;
  font-weight: 600;
  text-transform: capitalize;
 }

 .card-desc p{
  margin: 5px 0;
 }

 .card-desc{
  height: 60px;
  margin-top: 5px;
 }

 .person-desc,
 .person-rating,
 .person-price{
  font-size: 12px;
  line-height: 110%;
  font-family: 300;
 }

 .card-desc span{
  font-weight: 600;
 }
 